<div class="game">
  <h1 class="title">GAME: {{ game.id }}</h1>
  {% if game.hasFinished %}
    <p>
      <strong>The game has finished!</strong><br/>
      {% if game.checkmate %}{{ game.checkmate }} checkmated {{ game.currentColor }}{% endif %}
    </p>
  {% endif %}

  <div class="board-container">{{ windmill_render_board(game) }}</div>
  <div class="board-sidebar">
    <div class="block">{{ windmill_render_vs(game) }}</div>
    <div class="block">{{ windmill_render_clocks(game) }}</div>
    <div class="block">{{ windmill_render_history(game) }}</div>
    <div class="block">
      Use AJAX requests: <input type="checkbox" id="WindmillAjaxToggle"/>
      {{ windmill_render_hidden_form(game) }}
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="board-captures">{{ windmill_render_captures(game) }}</div>
</div>
